

body {
    /* declare css variables for common constant values */
    --bg0: #fbf1c7;
    --bg1: #f4e8be;

    --fg0 : #ddccab;
    --focus: #654735;

    --green: #BFD39D;
    --red: #9d0006;

    padding: 8rem;
    
    font-family: "Inter", sans-serif;
    background-color: var(--bg0);
}

h1{
    font-weight: 500;
}